button {
    &:focus {
        color: var(--highlight);
        border-color: var(--highlight);
        text-decoration: underline;
    }
    &:hover {
        color: var(--highlight);
        border-color: var(--highlight);
    }

    outline: 0;
    border-radius: $rounded;
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: $space-sm $space-md;
    margin-right: $space-sm $space-md;
    background: transparent;
}
