.c-form-control {
    margin-top: -0.5rem;
    margin-bottom: $space-md;
    display: block;

    $base: &;
    &__line {
        display: flex;
        width: 100%;

        & > * {
            flex: 1;
        }

        #{$base}__input {
            border-radius: 0;

            &.--first {
                border-top-left-radius: $rounded;
                border-bottom-left-radius: $rounded;
            }

            &.--last {
                border-top-right-radius: $rounded;
                border-bottom-right-radius: $rounded;
            }
        }
    }

    &__label {
        position: relative;
        top: $space-sm;
        padding: 0 $space-xs;
        margin-left: $space-md;
        background: var(--background);
        color: var(--gray);
        z-index: 1;
    }

    &__input + &__label {
        top: -$space-sm;
    }

    &__input,
    &__static {
        font-size: 0.9rem;
        border: 1px solid var(--gray);
        border-radius: $rounded;
        width: 100%;

        padding: $space-md $space-md $space-sm $space-md;
        background: var(--background);

        &:focus {
            outline: 0;
            border-color: var(--highlight);
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        }

        &.--small {
            max-width: $size-sm;
        }
    }

    &__static {
        display: block;
        border-color: transparent;
        padding-bottom: 0;
    }

    &.--focussed {
        label {
            color: var(--highlight);
        }
        input,
        select {
            border-color: var(--highlight);
        }
    }

    &.--invalid {
        label {
            color: var(--error);
        }
        input {
            border-color: var(--error);
        }
    }
}
